*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
@media  screen and (max-width: 580px) {
    div.container-card {
        align-items: center;
        width: 100%;
        flex-direction: column;

    }
}

